/*css is awesome!*/

.navbar {
	position: fixed;
	background-color: #3668A5;
	border-color: white;
  /*This doesn't work FIXME*/
}

.navbar.navbar-inverse.navbar-fixed-top a {
	color: #EBEBEB;
}

#main_page_body {
	padding-top: 70px;
}

.highlight {
	background-image: url("feather.gif");
	background-size: 1.8em 1em;
	background-repeat: no-repeat;
}

#bird_counter {
	color: white;
}

.taxon_family {
	text-indent: 1em;
}

.sci_name_span {
	font-style: italic;
}

#map-canvas { 
	height: 700px;
}

.bird_picture {

}

.jumbotron {
	height: 700px;
    background-image: url("snow_geese2.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.title {
	margin-top: 200px;
	text-align: center;
	font-style: bold;
}

.subtitle {
	text-align: center;
}

.species_span {
	padding-left: 2em;

}