<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
<meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css"/>
    <link rel="stylesheet" href="static/style.css"/>
    <title>LifeList</title>
    <script src="https://code.jquery.com/jquery.js"></script>
</head>

<body>

<div class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <!-- <img src="/static/img/ubermelon-logo.png"> -->
            <a class="navbar-brand" href="/">BirdGrip</a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#"><span id="bird_counter">
                      {% if 'bird_count' in session.keys() %}{{session['bird_count']}}
                      {% else %}0
                      {% endif %}</span></a>
                </li>
                <li>
                    <a href="/search">Search</a>
                </li>
                {% if 'username' in session.keys() %}
                <li>
                    <a href="#">Welcome, {{session["username"]}}</a>
                </li>
                <li>
                    <a href="/logout">Logout?</a>
                </li>
                {% else %}
                <li>
                    <a href="/login">Log In</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
<div class="container" id="main_page_body">

  {% with messages = get_flashed_messages() %}
      {% for message in messages %}
          <div class="alert alert-warning">{{ message }}</div>
      {% endfor %}
  {% endwith %}

  {% block body %}
  PAGE GOES HERE
  {% endblock %}
</div>

<script src="static/birdscript.js"></script>

</body>
</html>