{% extends 'base.html' %}

{% block body %}

<div class="container" id="gallery">
	<div class="row" id="gallery-row">
	{% for this_bird in bird_ids %}
		<span class="bird_picture" id="photo_{{this_bird}}"></span>
	{% endfor %}
	</div>
		<!-- <center><div><img id="waiting" src="/static/loading_animation2.gif"></img></div></center> -->
</div>
    <div class="footer" id="main_foot">
      <span class="ack">Data sources: eBird, Faircloth Labs, BirdLife, IOC World Bird Names</span>
      <span class="copyright">Unless otherwise noted, all content and code is copyright Sarah Frost, 2015</span>
      <span class="hackbright">Thanks to everyone from Hackbright who made this possible.</span>
    </div>

{% endblock %}