{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<div class="jumbotron">
	<div class="container">
		<h1 class="title">Lek</h1>
		<h3 class="subtitle">Your Life List</h3>
	</div>
</div>
    {% with messages = get_flashed_messages() %}
        {% for message in messages %}
            <div class="alert alert-warning">{{ message }}</div>
        {% endfor %}
    {% endwith %}
<div class="container" id="main_page_body">
{% if birds_nest == {} %}
<h3>No birds found. <a href="/search">Search again?</a></h3>
{% else %}
<div class="instructions">Click on a bird's name to add it to your life list.<br>Click <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> for more information about a species.</div>
	{% for order in orders %}
		<div class="taxon_order" id="{{order}}">{{ order }} <span class="spuh">({{ spuh[order] }})</span>
		{% for family in birds_nest[order].keys() %}
			<div class="taxon_family" id="{{family}}">{{family}}
				<ul>
					{% for bird in birds_nest[order][family].keys() %}
							<div class="taxon_species">
								<span class="species_span" id="{{bird}}">
									<span class="common_name_span">{{ birds_nest[order][family][bird]['common_name'] }}</span>: 
									<span class="sci_name_span">{{ birds_nest[order][family][bird]['sci_name'] }}</span>
								</span>
								<span class="species_info"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></span>

								<div class="modal fade" id="{{bird}}_modal">
								  <div class="modal-dialog">
								    <div class="modal-content">
								      <div class="modal-header">
								        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								        <h4 class="modal-title"><span class="modal-common-name">{{birds_nest[order][family][bird]['common_name']}}</span></h4>
								        <div class="modal-bird-info"><span class="modal-sci-name sci_name_span">({{ birds_nest[order][family][bird]['sci_name'] }})</span>
								        	<div class="modal-range">Region codes: {{ birds_nest[order][family][bird]['region'] }}</div></div>
								      </div>
								      <div class="modal-body" id="{{bird}}_modal_body">
								      </div>
								      <div class="modal-footer">
								        <button type="button" class="btn btn-default" data-dismiss="modal">Close Window</button>
								        <button type="button" class="btn btn-primary add-bird" id="{{bird}}" data-taxon-id="{{birds_nest[order][family][bird]['common_name']}}">Add This Bird</button>
								        <a class="btn twitter-share-button" id="tweet-{{bird}}">Tweet This Bird</a> 
								      </div>
								    </div><!-- /.modal-content -->
								  </div><!-- /.modal-dialog -->
								</div><!-- /.modal -->

							</div>
					{% endfor %}
				</ul>
			</div>
				
		{% endfor %}
		</div>
	{% endfor %}
{% endif %}
</div>
{% endblock %}
