{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<div class="jumbotron">
	<div class="container">
		<h1 class="title">Lek</h1>
		<h3 class="subtitle">Your Life List</h3>
	</div>
</div>
    {% with messages = get_flashed_messages() %}
        {% for message in messages %}
            <div class="alert alert-warning">{{ message }}</div>
        {% endfor %}
    {% endwith %}
<div class="container" id="main_page_body">
{% if birds_nest == {} %}
<h3>No birds found. <a href="/search">Search again?</a></h3>
{% else %}
<div class="instructions">Click on a bird's name to add it to your life list.<br>Click <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> for more information about a species.</div>
	{% for order in orders %}
	{% if order in birds_nest.keys()%}
		<div class="taxon_order" id="{{order}}">{{ order }} <span class="spuh">({{ spuh[order] }})</span>
		{% for family in birds_nest[order].keys() %}
			<div class="taxon_family" id="{{family}}">{{family}}
				<ul>
					{% for bird in birds_nest[order][family].keys() %}
							<div class="taxon_species">
								<span class="species_span" id="{{bird}}">
									<span class="common_name_span">{{ birds_nest[order][family][bird]['common_name'] }}</span>: 
									<span class="sci_name_span">{{ birds_nest[order][family][bird]['sci_name'] }}</span>
								</span>
								<span class="species_info"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></span>

								

							</div>
					{% endfor %}
				</ul>
			</div>
				
		{% endfor %}
		</div>
		{% endif %}
	{% endfor %}
{% endif %}
</div>
{% endblock %}
