{% extends 'base.html' %}

{% block body %}
	{% for this_search in search_list %}
		<div class="saved_search">
		{% for key, value in this_search.iteritems() %}
				<form action="/search" class="form_saved" method="POST">
					<input hidden name="{{key}}", value="{{value}}">
				{% if value != "all" and key != "save_this" and key != "fuzzy" %}
					{% if key == "select_spuh" %}
						<br>
						<label for="{{key}}">Kind of bird: {{SPUH_EQUIVALENTS[value]}}</label>
					{% elif key == "select_order" %}
						<br>
						<label for="{{key}}">Order: {{value}}</label>
					{% elif key == "select_family" %}
						<br>
						<label for="{{key}}">Family: {{value}}</label>
					{% elif key == "select_region" %}
						<br>
						<label for="{{key}}">In: {{REGION_CODES[value]}}</label>
					{% elif key == "which_birds" and value[0] == "my_birds" %}
						<br>
						<label for="{{key}}">Seen</label>
					{% elif key == "which_birds" and value == "not_my_birds" %}
						<br>
						<label for="{{key}}">Not seen</label>
					{% else %}
						<span></span>
					{% endif %}
				{% endif %}
		{% endfor %}
				<br>
				<input type="submit" value="Run this search">
			</form>
			<br>
				<input type="submit" class="default_set_button" value="Make this your default">
			<br>
				<input type="submit" class="delete_save_search" value="Delete this search">
			<br>
		</div>
	{% endfor %}
	<a href="/search">New Search</a>
{% endblock %}