{% extends 'base.html' %}

{% block body %}

    <form class="form-signup" action="signup" method="POST">

        <h2 class="form-signup-heading">Sign Up</h2>

        <div class="form-group">
            <label for="username-field" class="sr-only">username</label>
            <input type="text"
                   name="username"
                   class="form-control input-lg"
                   placeholder="Username">
        </div>

        <div class="form-group">
            <label for="email-field" class="sr-only">Email Address</label>
            <input type="email"
                   name="email"
                   class="form-control input-lg"
                   placeholder="Email Address"
                   required
                   autofocus>
        </div>

        <div class="form-group">
            <label for="password-field" class="sr-only">Password</label>
            <input type="password"
                   name="password"
                   class="form-control input-lg"
                   placeholder="Password"
                   required>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Me Up
        </button>

    </form>
    <div class="footer" id="alt_foot">
      <span class="ack">Data sources: eBird, Faircloth Labs, BirdLife, IOC World Bird Names</span>
      <span class="copyright">Unless otherwise noted, all content and code is copyright Sarah Frost, 2015</span>
      <span class="hackbright">Thanks to everyone from Hackbright who made this possible.</span>
    </div>
{% endblock %}